name: dispatch

on: 
  repository_dispatch:
    types: [artifacthub]

jobs:
  echo_github_event:
    runs-on: ubuntu-latest
    steps:
      - name: echo github event
        run: |
          echo "${{ github.event }}"
